* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    animation: gradientAnimation 10s infinite;
    padding: 10px; /* Adds padding for smaller screens */
}

.centered-text {
    text-align: center;
    color: rgb(32, 10, 10);
    font-size: 3em;
    padding: 5px;
    word-wrap: break-word; /* Ensures long text breaks on smaller screens */
}

/* Keyframes for smooth background transition */
@keyframes gradientAnimation {
    0% { background-color: #F4E7FB; }
    16% { background-color: #F3DCDC; }
    33% { background-color: #F5BCBA; }
    50% { background-color: #E3AADD; }
    66% { background-color: #C8A8E9; }
    83% { background-color: #C3C7F3; }
    100% { background-color: #F4E7FB; }
}

/* Responsive Design for smaller screens */
@media (max-width: 1024px) {
    .centered-text {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .centered-text {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .centered-text {
        font-size: 1.5em;
    }
}

@media (max-width: 320px) {
    .centered-text {
        font-size: 1.2em;
    }
}
